<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" href="/mechanic/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repairs" href="/mechanic/repairs">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Réparations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/mechanic/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
