<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" href="/client/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles" href="/client/vehicles">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Véhicules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments" href="/client/appointments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>RDV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoices" href="/client/invoices">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Factures</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/client/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
